@import "tailwindcss";

:root {
  --main-color: #a05b6a;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .bg-main-color {
    background-color: var(--main-color);
  }
  .text-main-color {
    color: var(--main-color);
  }
}

@layer components {
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 3s ease-in-out infinite 1.5s;
  }

  /* Swiper Custom Styles */
  .odoo-swiper {
    padding-bottom: 50px !important;
  }

  .odoo-swiper .swiper-pagination {
    bottom: 10px !important;
  }

  .odoo-swiper .swiper-pagination-bullet {
    background: #e5e7eb !important;
    opacity: 1 !important;
    width: 12px !important;
    height: 8px !important;
  }

  .odoo-swiper .swiper-pagination-bullet-active {
    background: linear-gradient(45deg, #a05b6a) !important;
    transform: scale(1.2) !important;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

::selection {
  background-color: #a05b6a;
  color: white;
}

/* for Scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #e8d4d4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #a05b6a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7a3d4a;
}
.min-scrollbar::-webkit-scrollbar {
  width: 6px;
}
